<!-- Step 1 HTML Content -->
<br />
<br />
<h1>Employee System</h1>
<!-- 
    Add a div class that shows a animated gif so the user
    sees that we are loading the data.
    This data is bound using knockout.js to an observable 
    property called visible.  

    As soon as the property changes, the image disappears
-->
<div class="DataInit" data-bind="visible: loading()">
    <img src="~/Images/loading.gif" alt="Loading Indicator" />
</div>

<!--
    Same concept here except the property is bound to 
    NOT visible.

    As soon as the property changes, the image disappears
    and the table shows up, now filled with data.
-->
<table class="table" data-bind="visible: !loading()">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Date Terminated</th>
        </tr>
    </thead>
    <!--
        This data-bind command basically says 
        Create a TR for each item in the employees array    
    -->
    <tbody data-bind="foreach: employees">
        <tr>
            <!-- Here we use a text binding which sets the
                html for each td to what is in that property -->
            <td data-bind="text: Id"></td>
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: Position"></td>
            <td data-bind="text: Salary"></td>
            <td data-bind="text: TerminationDate"></td>
        </tr>
    </tbody>
</table>

<!--
    Include Knockout.js and our EmployeeViewModel    
-->
@section scripts {
    <script src="~/Scripts/knockout-3.2.0.js"></script>

    <script src="~/App/Step1/EmployeeViewModel.js"></script>
}

