<!-- Step 6 HTML Content -->
<br />
<br />
<h1>Employee System</h1>
<div class="DataInit" data-bind="visible: loading()">
    <img src="~/Images/loading.gif" alt="Loading Indicator" />

</div>
<table class="table" data-bind="visible: !loading()">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Date Terminated</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: employees">
        <tr data-bind="template: { name: $root.displayMode, data: $data }"></tr>
    </tbody>
</table>

<script type="text/html" id="readonly-mode">
    <td class="btn btn-default" data-bind="click: $root.edit">Edit Employee</td>
    <td data-bind="text: Id"></td>
    <td data-bind="text: FirstName"></td>
    <td data-bind="text: LastName"></td>
    <td data-bind="text: Position"></td>
    <td data-bind="text: Salary"></td>
    <td data-bind="text: TerminationDate"></td>
</script>

<script type="text/html" id="edit-mode">
    <td class="btn btn-success" data-bind="click: $root.done">Done Editing</td>
    <td data-bind="text: Id"></td>
    <td><input data-bind="value: FirstName" /></td>
    <td><input data-bind="value: LastName" /></td>
    <td><input data-bind="value: Position" /></td>
    <td><input data-bind="value: Salary" /></td>
    <td><input data-bind="value: TerminationDate" /></td>
</script>

<script type="text/html" id="locked-mode">
    <td class="btn btn-danger">Locked</td>
    <td data-bind="text: Id"></td>
    <td data-bind="text: FirstName"></td>
    <td data-bind="text: LastName"></td>
    <td data-bind="text: Position"></td>
    <td data-bind="text: Salary"></td>
    <td data-bind="text: TerminationDate"></td>
</script>

@section scripts {
    <script src="~/Scripts/knockout-3.2.0.js"></script>

    <!-- change the Employee View Model as you complete each step -->
    <script src="~/App/Step5/EmployeeViewModel.js"></script>

    <!--  Add these two during step 3 -->
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="/signalr/hubs"></script>
}

