<!-- Step 4 HTML Content -->
<br />
<br />
<h1>Employee System</h1>
<div class="DataInit" data-bind="visible: loading()">
    <img src="~/Images/loading.gif" alt="Loading Indicator" />

</div>
<table class="table" data-bind="visible: !loading()">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Date Terminated</th>
        </tr>
    </thead>
    <!--
        Small change here.  We are not allowing our ViewModel to 
        specify which template to use.  $root means parent object
        that we are doing this foreach over (In other words, ViewModel)
    -->
    <tbody data-bind="foreach: employees">
        <tr data-bind="template: { name: $root.displayMode, data: $data }"></tr>
    </tbody>
</table>

<!--
    Add a button to read-only mode which allows folks to LOCK a record.
    we bind a method in our ViewModel to the click event of this button    
    In the ViewModel, when you click on this button, it then switched to 
    EDIT MODE
-->
<script type="text/html" id="readonly-mode">
    <td><a class="btn btn-default btn-xs" data-bind="click: $root.edit">Edit Employee</a></td>
    <td data-bind="text: Id"></td>
    <td data-bind="text: FirstName"></td>
    <td data-bind="text: LastName"></td>
    <td data-bind="text: Position"></td>
    <td data-bind="text: Salary"></td>
    <td data-bind="text: TerminationDate"></td>
</script>

<!--
    Add a button to edit-only mode which allows folks to UNLOCK the record.
    we bind a method in our ViewModel to the click event of this button
    In the ViewModel, when you click this button, it switches back to 
    READONLY MODE
-->
<script type="text/html" id="edit-mode">
    <td><a class="btn btn-success btn-xs" data-bind="click: $root.done">Done Editing</a></td>
    <td data-bind="text: Id"></td>
    <td><input data-bind="value: FirstName" /></td>
    <td><input data-bind="value: LastName" /></td>
    <td><input data-bind="value: Position" /></td>
    <td><input data-bind="value: Salary" /></td>
    <td><input data-bind="value: TerminationDate" /></td>
</script>

@section scripts {
    <script src="~/Scripts/knockout-3.2.0.js"></script>

    <!-- change the Employee View Model as you complete each step -->
    <script src="~/App/Step4/EmployeeViewModel.js"></script>

    <!--  Add these two during step 4 -->
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="/signalr/hubs"></script>
}

